<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
        <link rel="stylesheet" type="text/css" href="./mystyle.css">
        <title>Peliculas (<%= settings.ambiente %>)</title>
    </head>
    <body>
        <div style="width: 980px;  ">
          <form method="POST" action="/alta" >
          <table style="width: 980px; height: 80px">
              <tr>
                <td style="width: 105px"  colspan="1" rowspan="3" >
                  <img src="<%= "./images/Video.gif" %>" >
                </td>
                <td style="width: 80px; height: 24px">Dirigida por:</td>
                <td style="width: 275px">
                  <select  name="Xdirectores">
                    <option value="all">Todos</option>
                    <% @Directores.each do |name| %>
                        <option value ="<%=name[0] %>"
                        <% if name[0] == session[:fdirector] %>
                        selected
                        <% end %>
                        ><%= name[0]+" ("+name[1].to_s.strip+")" %> </option>
                    <% end %>
                  </select>
                </td>
                <td style="width: 80px">Actuada por:</td>
                <td style="width: 275px">
                  <select  name="Xelencos">
                    <option value="all">Todos</option>
                    <% @Elencos.each do |name| %>
                        <option value ="<%=name[0] %>"
                        <% if name[0] == session[:felenco] %>
                        selected
                        <% end %>
                        ><%= name[0]+" ("+name[1].to_s.strip+")" %> </option>
                    <% end %>
                  </select>
                </td>
              </tr>
              <tr>
                <td style="height: 24px">Genero:</td>
                <td>
                  <select  name="Xgeneros">
                    <option value="all">Todos</option>
                    <% @Generos.each do |name| %>
                        <option value ="<%=name[0] %>"
                        <% if name[0] == session[:fgenero] %>
                        selected
                        <% end %>
                        ><%= name[0]+" ("+name[1].to_s.strip+")" %> </option>
                    <% end %>
                  </select>
                </td>
                <td>Decada:</td>
                <td>
                  <select  name="Xdecadas">
                    <option value="0000~9999">Todas</option>
                    <% DECADAS.each do |name| %>
                        <option value ="<%=name[0] %>"
                        <% if name[0] == session[:fdecada] %>
                        selected
                        <% end %>
                        ><%= name[1] %> </option>
                    <% end %>
                  </select>
                </td>
              </tr>
              <tr>
                <td style="height: 24px" colspan="2" rowspan="1">
                  <input type="checkbox" name="Xcomments" value="comments"
                         <% if session[:fcomment] == "comments" %>
                         checked
                          <% end %>
                  >Con comentario
                </td>
                <td> </td>
                <td align="right">
                  <input name="botonera" value="Buscar" type="submit">
                  <input name="botonera" value="Nueva_Película" type="submit">
                </td>
              </tr>
            </table>
            </form>
          <% n=0 %>
            <table style="width: 980px;border-collapse:collapse;" >
                <!--<tbody>-->
                    <%@Lista.each do |cada| %>
                        <% n=n+1 %>
                        <% if n.divmod(3)[1] == 1 %>
                            <%= '<tr>' %>
                        <% end %>
                            <td class="<%= tdcolor(n) %>" style="width: 64px; height: 100px;border-collapse:collapse;">
                              <a href="<%= "/consulta/"+cada.id.to_s %>">
                              <img alt="no poster" src="<%= "./posters/"+cada.imdb_code+".jpg" %>"  height="95" width="64" >
                              </a>
                            </td>
                            <td class="<%= tdcolor(n) %>" style="width: 239px; height: 100px;border-collapse:collapse;">
                                <a class="titulo"><%= cada.titulo %></a><br>
                                <%= cada.anio %><br>
                                <%= cada.titulo_original %>
                            </td>
                            <td class="<%= tdcolor(n) %>" style="height: 100px; width: 20px;border-collapse:collapse;">
                                <img src="./images/edit.png" alt="Modificar"  height="20" title="Modificar">
                                <img src="./images/trash.png" alt="Eliminar"  height="20" title="Baja">
                                <a href="<%= "/consulta/"+cada.id.to_s %>">
                                    <img src="./images/search.png" alt="Consultar" height="20" title="Consulta">
                                </a>
                            </td>
                        <% if n.divmod(3)[1] == 0 %>
                            <%= '</tr>' %>
                        <% end %>
                    <% end %>

                    <%(n..(PELXPAG-1)).each do |cada| %>
                        <% n=n+1 %>
                        <% if n.divmod(3)[1] == 1 %>
                            <%= '<tr>' %>
                        <% end %>
                        <td class="<%= tdcolor(n) %>" style="width: 64px; height: 100px;border-collapse:collapse;">
                          <a> </a>
                        </td>
                        <td class="<%= tdcolor(n) %>" style="width: 239px; height: 100px;border-collapse:collapse;">
                          <a> </a>
                        </td>
                        <td class="<%= tdcolor(n) %>" style="height: 100px; width: 20px;border-collapse:collapse;">
                          <a> </a>
                        </td>
                        <% if n.divmod(3)[1] == 0 %>
                            <%= '</tr>' %>
                        <% end %>
                    <% end %>

                <!--</tbody>-->
            </table>
            <table style="width: 980px; height: 25px">
               <tr>
                  <td>
                      <div class="digg_pagination" style=" text-align: right; width: 1010px; ">
                        <%= will_paginate @Lista, :container => false %>
                      </div>
                  </td>
                </tr>
            </table>
        </div>
    </body>
</html>